DEEPSEEK_API_KEY=
OPENAI_API_KEY=
LANGGRAPH_API_URL=http://localhost:2025
NEXT_PUBLIC_API_URL=http://localhost:2025
LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
DASHSCOPE_API_KEY=
OPENWEATHER_API_KEY=
TAVILY_API_KEY=
HOST=
USER=
MYSQL_PW=
DB_NAME=
PORT=
AMAP_API_KEY=
JIRA_API_TOKEN=
JIRA_USERNAME=
JIRA_INSTANCE_URL=
JIRA_CLOUD=
